.card-group {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.card {
    width: 250px;
    border: 1px black solid;
    border-radius: 10px;
    margin: 10px;
}
.card-body {
    padding: 10px;
}
.card-wrapper {
    display: grid;
    /*justify-content: space-between;*/
    /*grid-template-columns: repeat(4, 1fr);*/
    /*grid-template-rows: repeat(4, 1fr);*/
}
.card-img-top {
    border-radius: 10px;
    width: 100%;
    height: 300px;
}
.card-title {
    height: 35px;
    font-weight: 700;
    font-size: 20px;
}
.card-text {
    font-style: italic;
}

.redStar {
    color: orangered;
}
.blueStar {
    color: blue;
}
.blueStar, .redStar {
    cursor: pointer;
}
.add-remove-container {
    margin-top: 20px;
}